.draggable-container {
    display: inline-flex;
    flex-wrap: nowrap;
}

.draggable-container > dragging {
    margin: 2px;
}

.scroll-box {
    border: solid black;
    white-space: nowrap;
    overflow-x: scroll;
    margin-bottom: 15px;
    
}
