droppable {
    background-color: darkgrey;
    border: solid black;
    width: 100%;
    height: 500px;
    display: block;
}

.center {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}