dragging {
    min-width: 120px;
}

dragging.clone {
    position: absolute;
    z-index: 1000;
}

dragging.drop-active {
    border: 2px solid green; 
}

dragging.droped{
    border: 2px solid #29e; 
    
}
